<link rel="stylesheet" href="/styles/notFoundPage/style.css">

<div class="cube__container">
  <div class="cube">
    <div class="top"></div>
    <div>
      <span style="--i: 0;"></span>
      <span style="--i: 1;"></span>
      <span style="--i: 2;"></span>
      <span style="--i: 3;"></span>
    </div>
  </div>
</div>
<div class="not-found">
  <div class="status-code">
    500
  </div>
  <div class="status-name">
    Internal Server Error
  </div>
</div>
<div class="home">
  <a href="/">Về trang chủ</a>
</div>